@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

* {
    font-family: 'Inria Sans', sans-serif;
}

body {
    font-family: 'Inria Sans', sans-serif;
    background-color: whitesmoke;
    background-image: url("../img/canvas-texture.avif"); 
    background-position: center top; 
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    text-align: center;
    /* background: linear-gradient(45deg, #d3d3d3, #800000);  */
}

.back{
    position: absolute;
    left: 1em;
    top: 1em;
    padding: 1em 1.5em;
}

.back-a{
    text-decoration: none;
    font-size: 1.5em;
}

h1 {
    color: black;
}

form {
    /* background: url("../img/canvas-texture.avif");  */
    background-color: #834d4d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 25em;
    height: fit-content;
    margin: 1em auto 3em auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"]::-webkit-file-upload-button {
    font-family: Inria Sans, sans-serif;
    /* margin: 0 6px 0 0em; */
    /* border-radius: 4px; */
    border: none;
    height:100%;
    background-color: #ccc;
    cursor: pointer;
    
}



input[type="file"] {
    font-family: 'Inria Sans', sans-serif;
    border: 1px solid ;
    border-radius: 2px;
    /* padding: 5px; */
    height: 2em;
    margin: 0 0 0 -5px;
    width: 100%;
    cursor: pointer;
    padding-right: 5px;
}

input[type="submit"] {
    font-family: 'Inria Sans', sans-serif;
    /* background-color: #007BFF; */
    background-image: url("../img/upload.jpg");
    background-size: cover;
    /* color: #fff; */
    border: none;
    border-radius: 2px;
    padding: 0em;
    margin: 0em 0 0em 1em;
    width: 8em;
    cursor: pointer;
    /* transition-duration: 0.5s; */
    scale: 0.4;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#preview-container,
#output-container {
    width: auto;
    height: 22em;
    margin-bottom: -4px;
}

#dropdown {
    font-family: 'Inria Sans', sans-serif;
    border: 1px solid ;
    border-radius: 2px;
    margin: 1em 1em 1em -5px;
    padding: auto 0;
    width: 103%;
    height:2em;
    
}

.choose {
    display: flex;
    flex-direction: column;
}

.pics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.images {
    display: flex;
    flex-direction: row;
    padding: 0 25em;
    justify-content: space-around;
}

.previewDiv{
    /* flex: 1; */
    /* padding: ; */
    /* margin: 1em auto; */
    /* justify-content: space-around; */
    width: max-content;
    /* width: auto;
    height: 30em; */
    /* border-radius: 10px; */
    /* background-color: #834d4d; */
    border:solid brown 10px;
    display: none;
}

.previewDiv2{
    /* flex: 1; */
    /* padding: ; */
    /* margin: 1em auto; */
    /* justify-content: space-around; */
    width: max-content;
    /* width: auto;
    height: 30em; */
    /* border-radius: 10px; */
    /* background-color: #834d4d; */
    border:solid brown 10px;
    /* display: none; */
}

.outputDiv{
    /* flex: 1; */
    /* pad: 0 auto; */
    /* margin: 1em 1em; */
    width: max-content;
    /* width: auto;
    height: 30em;  */
    /* border-radius: 10px; */
    border:solid brown 10px;
    /* background-color: #834d4d; */
    /* display: none; */
}

.form1{
    display: flex;
    flex-direction: column;
    /* width: 200px;
    height: 100px; */
    background-color:white;
    border-radius: 2px;
    /* margin: 50px; */
    box-shadow:
        /* -5px -5px 10px rgba(255, 255, 255, 0.5), */
        5px 5px 10px rgba(0, 0, 0, 0.5);

}
.box3{
    /* padding: 1em auto; */
    background-color:white;
    width: 100%;
    margin: 2em 0em 0 0;
    /* display: none; */
}

.Input{
    display:flex;
    flex-direction: row;
}
.download{
    font-family: 'Inria Sans', sans-serif;
    /* font-size: 1.2em; */
    border: 1px solid ;
    border-radius: 2px;
    /* margin: auto; */
    padding: 1em 0 0 0;
    width: 100%;
    height:2em;
    background-color: white;
    border: none;
    border-top: solid;
}