<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Image Upload Form</title>
</head>
<body>
    <h1>Image Upload Form</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <label for="imageUpload">Choose an image:</label>
        <input type="file" id="imageUpload" name="image" accept="image/*" onchange="previewImage(this)">
        <br>
        <input type="submit" value="Upload Image">
        <div id="imagePreview" style="display: none;">
            <h2>Uploaded Image Preview</h2>
            <img id="preview" src="" alt="Image Preview">
        </div>
    </form>
    
    <form action="/" method="get">
        <img src="/files/output/output.jpeg" alt="">
    </form>

    <script src="../static/js/script.js"></script>
</body>
</html>
